<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersListController</servlet-name>
        <servlet-class>Controller.OrdersListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateController</servlet-name>
        <servlet-class>Controller.ActivateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsController</servlet-name>
        <servlet-class>Controller.ProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>Controller.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithGoogleController</servlet-name>
        <servlet-class>Controller.LoginWithGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>Controller.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>Controller.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItemController</servlet-name>
        <servlet-class>Controller.DeleteCartItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityCartItemController</servlet-name>
        <servlet-class>Controller.UpdateQuantityCartItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopController</servlet-name>
        <servlet-class>Controller.ShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopDetailController</servlet-name>
        <servlet-class>Controller.ShopDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>Controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDashboard</servlet-name>
        <servlet-class>Controller.adminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminSettingList</servlet-name>
        <servlet-class>Controller.adminSettingList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUserList</servlet-name>
        <servlet-class>Controller.adminUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDashboardController</servlet-name>
        <servlet-class>Controller.adminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminSettingListController</servlet-name>
        <servlet-class>Controller.adminSettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUserListController</servlet-name>
        <servlet-class>Controller.adminUserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserController</servlet-name>
        <servlet-class>Controller.updateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailController</servlet-name>
        <servlet-class>Controller.SettingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddUser</servlet-name>
        <servlet-class>adminAddUser.adminAddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddUserController</servlet-name>
        <servlet-class>Controller.adminAddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddSettingController</servlet-name>
        <servlet-class>Controller.adminAddSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>Controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>Controller.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlog</servlet-name>
        <servlet-class>Controller.BlogManager.DeleteBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotFoundController</servlet-name>
        <servlet-class>Controller.NotFoundController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminProductList</servlet-name>
        <servlet-class>Controller.adminProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductController</servlet-name>
        <servlet-class>Controller.updateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>Controller.deleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddProductList</servlet-name>
        <servlet-class>Controller.adminAddProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackController</servlet-name>
        <servlet-class>Controller.DeleteFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletePaymentController</servlet-name>
        <servlet-class>Controller.CompletePaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductImageController</servlet-name>
        <servlet-class>Controller.DeleteProductImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeThumbnailController</servlet-name>
        <servlet-class>Controller.ChangeThumbnailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsController</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersListController</servlet-name>
        <url-pattern>/orderslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateController</servlet-name>
        <url-pattern>/activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithGoogleController</servlet-name>
        <url-pattern>/googlelogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItemController</servlet-name>
        <url-pattern>/deleteitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityCartItemController</servlet-name>
        <url-pattern>/updatequantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopDetailController</servlet-name>
        <url-pattern>/shopdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDashboard</servlet-name>
        <url-pattern>/adminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminSettingList</servlet-name>
        <url-pattern>/adminSettingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUserList</servlet-name>
        <url-pattern>/adminUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDashboardController</servlet-name>
        <url-pattern>/adminDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminSettingListController</servlet-name>
        <url-pattern>/adminSettingListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUserListController</servlet-name>
        <url-pattern>/adminUserListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserController</servlet-name>
        <url-pattern>/updateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailController</servlet-name>
        <url-pattern>/settingDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddUser</servlet-name>
        <url-pattern>/adminAddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddUserController</servlet-name>
        <url-pattern>/adminAddUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddSettingController</servlet-name>
        <url-pattern>/adminAddSettingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlog</servlet-name>
        <url-pattern>/DeleteBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotFoundController</servlet-name>
        <url-pattern>/notFoundController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminProductList</servlet-name>
        <url-pattern>/adminProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductController</servlet-name>
        <url-pattern>/updateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddProductList</servlet-name>
        <url-pattern>/adminAddProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackController</servlet-name>
        <url-pattern>/deleteFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletePaymentController</servlet-name>
        <url-pattern>/thanks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductImageController</servlet-name>
        <url-pattern>/deleteimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeThumbnailController</servlet-name>
        <url-pattern>/changethumbnail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
